@model MvcOnlineTicariOtomasyon.Models.Classes.CurrentAccount
@{
    ViewBag.Title = "getCurrentAccount";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Cari Güncelleme Ekranı</h2>
<br />
@using (Html.BeginForm("updateCurrentAccount", "CurrentAccount", FormMethod.Post))
{
<div class="form-group">
    @Html.HiddenFor(x => x.CurrentAccountName)
    @Html.LabelFor(x => x.CurrentAccountName)
    @Html.TextBoxFor(x => x.CurrentAccountName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CurrentAccountName, "", new { @style = "color:red" })
    <br />
    @Html.LabelFor(x => x.CurrentAccountSurname)
    @Html.TextBoxFor(x => x.CurrentAccountSurname, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CurrentAccountSurname, "", new { @style = "color:orange" })
    <br />
    @Html.LabelFor(x => x.CurrentAccountCity)
    @Html.TextBoxFor(x => x.CurrentAccountCity, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.CurrentAccountMail)
    @Html.TextBoxFor(x => x.CurrentAccountMail, new { @class = "form-control" })
    <br />
    <button class="btn btn-default" style="background-color:yellowgreen">Güncelle</button>

</div>
}

