@model MvcOnlineTicariOtomasyon.Models.Classes.CurrentAccount
@{
    ViewBag.Title = "newCurrenAccount";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Yeni Cari Sayfası</h2>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(x => x.CurrentAccountName)
    @Html.TextBoxFor(x => x.CurrentAccountName, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.CurrentAccountSurname)
    @Html.TextBoxFor(x => x.CurrentAccountSurname, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.CurrentAccountCity)
    @Html.TextBoxFor(x => x.CurrentAccountCity, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.CurrentAccountMail)
    @Html.TextBoxFor(x => x.CurrentAccountMail, new { @class = "form-control" })
    <br />
   
    <button class="btn btn-info">Kaydet</button>
</form>

