@using MvcOnlineTicariOtomasyon.Models.Classes;
@model List<Product> 
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Ürün</th>
        <th>Marka</th>
        <th>Stok</th>
        <th>Alış Fiyat</th>
        <th>Satış Fiyat</th>
        <th>Kategori</th>
        <th>Görsel</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach(var p in Model)
    {
        <tr>
            <td>@p.ProductId</td>
            <td>@p.ProductName</td>
            <td>@p.ProductBrand</td>
            <td>@p.Stock</td>
            <td>@p.PurchasePrice</td>
            <td>@p.SellingPrice</td>
            <td>@p.Category.CategoryName</td>
            <td>@p.ProductImage</td>
            <td><a href="/Product/deleteProduct/@p.ProductId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Product/getProduct/@p.ProductId" class="btn btn-success">Güncelle</a></td>
            
        </tr>
    }
</table>
<a href="/Product/newProduct" class="btn btn-info">Yeni Ürün</a>

