@using MvcOnlineTicariOtomasyon.Models.Classes
@model List<SalesTransactions>
@{
    ViewBag.Title = "departmentPersonalSales";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Departman Personel Satış</h2>
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Personal Adı: @ViewBag.dpers</li>
</ol>
<table class="table table-condensed">
    <tr>
        <th>Satış ID</th>
        <th>Ürün</th>
        <th>Cari</th>
        <th>Fiyat</th>
        <th>Adet</th>
        <th>Toplam</th>
        <th>Tarih</th>
        <th>Yazdır</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.SalesId</td>
            <td>@x.Product.ProductName</td>
            <td>@x.CurrentAccount.CurrentAccountName @x.CurrentAccount.CurrentAccountSurname</td>
            <td>@x.SalesId</td>
            <td>@x.Price</td>
            <td>@x.Unit</td>
            <td>@x.TotalPrice</td>
            <td>@x.Date</td>
            <td><a href="#" class="btn btn-default" style="background-color:dodgerblue">Yazdır</a></td>
        </tr>
    }
    
</table>

