@model MvcOnlineTicariOtomasyon.Models.Classes.Personal
@{
    ViewBag.Title = "getPersonal";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Cari Güncelleme Ekranı</h2>
<br />
@using (Html.BeginForm("updatePersonal", "Personal", FormMethod.Post))
{
<div class="form-group">
    @Html.HiddenFor(x => x.PersonalId)
    @Html.LabelFor(x => x.PersonalName)
    @Html.TextBoxFor(x => x.PersonalName, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.PersonalSurname)
    @Html.TextBoxFor(x => x.PersonalSurname, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.PersonalImage)
    @Html.TextBoxFor(x => x.PersonalImage, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Department)
    @Html.DropDownListFor(x => x.Departmentid, (List<SelectListItem>)ViewBag.val1, new { @class = "form-control" })
    <br />
    <button class="btn btn-default" style="background-color:yellowgreen">Güncelle</button>

</div>
}


