@model MvcOnlineTicariOtomasyon.Models.Classes.Bills
@{
    ViewBag.Title = "getBills";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Fatura Güncelleme Sayfası</h2>
<br />
@using (Html.BeginForm("updateBills", "Bills", FormMethod.Post))
{
    @Html.HiddenFor(x => x.BillsId)
    @Html.LabelFor(x => x.BillSerialNo)
    @Html.TextBoxFor(x => x.BillSerialNo, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.BillOrderNo)
    @Html.TextBoxFor(x => x.BillOrderNo, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.TaxAdministration)
    @Html.TextBoxFor(x => x.TaxAdministration, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.BillDate)
    @Html.TextBoxFor(x => x.BillDate, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Hour)
    @Html.TextBoxFor(x => x.Hour, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Submitter)
    @Html.TextBoxFor(x => x.Submitter, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Receiver)
    @Html.TextBoxFor(x => x.Receiver, new { @class = "form-control" })
    <br />
    <button class="btn btn-warning">Güncelle</button>


}

